// -- Flexo --------------------------------------------------------------------
COLOR                       = #001A33
BORDER_RADIUS               = .25rem

// -- Atoms --------------------------------------------------------------------
@import url("http://fonts.googleapis.com/css?family=Raleway:700,400,200")

// -- Colors
THEME                   = #479ccf
BACKGROUND              = #ebeef0
DARK                    = #31373d
WHITE                   = #fff
BUTTON                  = darken(BACKGROUND, 10%)
CANCEL                  = #e74c3c
ACCEPT                  = #2ecc71
WARNING                 = #edba22
// -- Dimensins
ASIDE_WIDTH             = 12rem
FORM_SIZE               = 1rem
MOBILE                  = 480px
U                       = 1rem
// -- Form
FORM_COLOR              = darken(BACKGROUND, 15%)
BORDER_RADIUS           = .15rem
// -- Animation
ANIMATION_DURATION      = 450ms
ANIMATION_STEPS         = 15
ANIMATION_EASE          = cubic-bezier(0.645, 0.045, 0.355, 1.000)
// -- Font
FONT_FAMILY             = "Raleway", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_NORMAL        = 1.0rem
FONT_SIZE_BIG           = 1.25rem
FONT_WEIGHT_THIN        = 300
FONT_WEIGHT_NORMAL      = 400
FONT_WEIGHT_BOLD        = 700
// -- Styles
DIVIDER                 = solid 1px darken(BACKGROUND, 2.5%)
SHADOW_HEIGHT           = .075rem
SHADOW_OPACITY          = rgba(0,0,0,0.35)
