body
  > footer
    padding                             : (2 * SPACE) 0
    background-color                    : lighten(THEME, 80%)
    > nav
      &.networks
        border-top                      : solid 1px BOX
        padding                         : SPACE 0 (SPACE / 2) 0
      &:not(.networks)
        margin-bottom                   : SPACE
      > a
        margin                          : 0 (SPACE / 2)
        &:not(.icon)
          font-size                     : FONT_SIZE_SMALL
          font-weight                   : FONT_WEIGHT_BOLD
        &.icon
          font-size                     : FONT_SIZE_BIG
    > small
      text-transform                    : Uppercase
    > nav.networks, > small
      opacity                           : 0.75

@media screen and (max-device-width: 480px)
  body > footer
    padding                             : SPACE 0 (SPACE / 2) 0
    a:not(.icon)
      font-size                         : (0.85 * FONT_SIZE_TINY)
    > small
      font-size                         : (0.75 * FONT_SIZE_TINY)
