[data-page="home"]
  article
    &.slideshow
      height                      : 100vh
    &:not(.slideshow)
      .product
        height                    : 35vh
        color                     : WHITE
        background-size           : cover
