[data-page="order"]
  table
    td
      figure
        width                           : SIZE = (U / 1.5)
        height                          : SIZE
        margin                          : 0 SPACE 0 0
        background-color                : BOX
        border                          : solid 1px BOX
      button
        border                          : solid 1px BOX
      &.discount
        width                           : 100%
        > *
          display                       : inline-block
        > div
          margin-top                    : (SPACE / 2)
          font-size                     : FONT_SIZE_TINY
          > small
            font-size                   : FONT_SIZE_TINY
            color                       : darken(BACKGROUND, 25%)
          > input
            margin                      : 0 (SPACE / 2)
            max-width                   : 25%
        > button, > .button
          float                         : right

@media screen and (max-device-width: 480px)
  [data-page="order"]
    > article
      padding                           : 0 !important
      &.slideshow
        min-height                      : 55vh !important
    table
      tr:not(.total)
        td, th
          &:nth-child(3), &:nth-child(4)
            display                     : none
          &:nth-child(2)
            padding                     : 0
      td
        figure
          width                         : SIZE = (U / 3)
          height                        : SIZE
          margin                        : 0 (SPACE / 3) 0 0
        small
          display                       : none
        button
          &[data-action="delete"]
            display: none
            height                      : HEIGHT = FONT_SIZE_BIG
            padding                     : 0 (SPACE / 4)
            font-size                   : (FONT_SIZE_TINY / 1.5)
            line-height                 : HEIGHT
            vertical-align              : TOP
        .button
          &[data-action="purchase"]
            width                       : 100%
            margin                      : SPACE 0

      tr.total td
        > div
          margin-top                    : 0
          width                         : 100%
          > small
            display                     : block
          > input
            margin                      : 0
            max-width                   : 75%
          > button
            width                       : 22.5%
            float: right

        > button, > .button
          float                         : none
          width : 100%
      //   &.right
      //     text-align                    : left
      //   &.discount
      //     display                       : none
