[data-page="order"]
  > article
    padding                             : U 0 !important
    &.slideshow
      min-height                        : 20vh !important

  table
    td
      figure
        width                           : SIZE = (U / 1.5)
        height                          : SIZE
        margin                          : 0 SPACE 0 0
        background-color                : BOX
      strong
        margin-top                      : (SPACE / 2)
