body
  > footer
    padding                             : (2 * SPACE) 0 SPACE 0
    background-color                    : lighten(THEME, 90%)
    > *
      margin                            : SPACE 0
    > small
      padding-top                       : (2 * SPACE)
      border-top                        : solid 1px BOX
    a:not(.icon)
      font-size                         : FONT_SIZE_SMALL
      font-weight                       : FONT_WEIGHT_BOLDgi
      margin                            : 0 (SPACE / 2)
