@font-face
  font-family: 'icomoon'
  src:url('fonts/icomoon.eot?-cfck9c')
  src:url('fonts/icomoon.eot?#iefix-cfck9c') format('embedded-opentype'), url('fonts/icomoon.woff?-cfck9c') format('woff'), url('fonts/icomoon.ttf?-cfck9c') format('truetype'), url('fonts/icomoon.svg?-cfck9c#icomoon') format('svg')
  font-weight: normal
  font-style: normal

.icon
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &.home:before
    content: "\e900"
  &.cart:before
    content: "\e93a"
  &.credit-card:before
    content: "\e93f"
  &.user:before
    content: "\e971"
  &.search:before
    content: "\e986"
  &.heart:before
    content: "\e9da"
  &.plus:before
    content: "\ea0a"
  &.minus:before
    content: "\ea0b"
  &.cross:before
    content: "\ea0f"
  &.checkmark:before
    content: "\ea10"
  &.ctrl:before
    content: "\ea50"
  &.bold:before
    content: "\ea62"
  &.underline:before
    content: "\ea63"
  &.italic:before
    content: "\ea64"
  &.facebook:before
    content: "\ea8c"
  &.instagram:before
    content: "\ea90"
  &.twitter:before
    content: "\ea91"
  &.pinterest:before
    content: "\ead0"
