body
  > footer
    padding                             : (2 * SPACE) 0 SPACE 0
    > *
      margin                            : SPACE 0
    > small
      padding-top                       : (2 * SPACE)
      border-top                        : solid 1px BOX
