[data-page="product"]
  > article
    section
      // -- Title
      > h1
        margin-bottom                     : 0
        font-size                         : (FONT_SIZE_NORMAL * 2.5)
        font-weight                       : FONT_WEIGHT_BOLD
        text-transform                    : Uppercase
      // -- Price
      > strong
        margin                            : SPACE 0 (SPACE / 4)
        font-size                         : (FONT_SIZE_NORMAL * 1.5)
        font-weight                       : FONT_WEIGHT_BOLD
        > span
          margin-right                    : SPACE
          color                           : lighten(COLOR, 50%)
          text-decoration                 : line-through
      // -- Heading
      > h6
        margin                            : (SPACE * 2) 0 0 0
        font-size                         : (FONT_SIZE_NORMAL * 1.25)
        font-weight                       : FONT_WEIGHT_BOLD
      // -- Description
      > .wysihtml5
        margin                            : (1.5 * SPACE) 0
        font-size                         : 92.5%
        font-weight                       : FONT_WEIGHT_NORMAL
        color                             : lighten(COLOR, 50%)
        a
          color                           : THEME
          font-weight                     : FONT_WEIGHT_BOLD
        // -- Form
      > ul
        margin                            : SPACE
        font-size                         : 90%
        line-height                       : 90%
      > form
        HEIGHT  = (U / 1.6) !important
        > *
          width                           : auto
          vertical-align                  : top
          height                          : HEIGHT
          line-height                     : HEIGHT
        > label
          display                         : inline-block
        > input
          text-align                      : center
        > button.icon, input
          padding                         : 0px !important
          width                           : HEIGHT
        > button
          &.icon
            font-weight                     : FONT_WEIGHT_NORMAL
            background-color                : BACKGROUND
            &:hover
              background-color              : COLOR
              color                         : WHITE
      // -- Extra Information
      > nav
        > *
          display                           : block

    // -- Images & Figures
    img, figure
      background-color                    : BACKGROUND
    img
      width                               : 100%
    figure
      &.thumbnail
        margin                            : (SPACE / 2)
        height                            : SIZE = (1.25 * U)
        width                             : SIZE
        cursor                            : POINTER
        &:hover
          box-shadow                        0 0 0 6px WHITE, 0 0 0 7px BOX

    // -- Others
    nav
      &.thumbnails
        padding                           : (SPACE / 2)

    // -- Reviews
    [data-shopio-reviews] > div
      li
        list-style                        : none
        display-flex()
        > figure
          width                           : SIZE = U
          min-width                       : SIZE
          height                          : SIZE
          margin                          : 0 SPACE 0 0
          border-radius                   : (SPACE / 2)
        > div
          flex-grow                         2
          margin-top                      : (SPACE / 4)
          > *
            display                       : block
          > small
            font-size                     : FONT_SIZE_TINY
            line-height                   : FONT_SIZE_SMALL
            > span
              opacity                     : 0.5
            > strong
              font-weight                 : FONT_WEIGHT_BOLD
              color                       : THEME
          > p
            margin                        : 0

      > div
        padding                           : (SPACE / 2) SPACE
        background                        : BACKGROUND
        border-radius                     : (SPACE / 2)
        > form
          > label
            margin-bottom                 : 0
          > input, textarea
            margin-bottom                 : (SPACE / 2)
          // label, input
          //   display                       : none

  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
    background-image: url('/assets/core/img/fancybox_sprite.png') !important
  #fancybox-loading div
    background: url('/assets/core/img/fancybox_loading.gif') center center no-repeat !important
  .fancybox-nav
    background: transparent url('/assets/core/img/blank.gif') !important
  // .fancybox-overlay
  //   background: url('/img/fancybox_overlay.png') !important

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
    background-image: url('/assets/core/img/fancybox_sprite@2x.png') !important
    background-size: 44px 152px

  #fancybox-loading div
    background-image: url('/assets/core/img/fancybox_loading@2x.gif') !important
    background-size: 24px 24px

@media screen and (max-device-width: 480px)
  [data-page="product"]
    > article
      section
        > h1
          font-size                       : (FONT_SIZE_NORMAL * 2)
        > strong
          margin                          : 0
        nav.thumbnails
          padding                         : (SPACE / 2) 0 SPACE 0 !important
          figure.thumbnail
            margin                        : (SPACE / 10)
            height                        : SIZE = (U / 1.25)
            width                         : SIZE

        > ul
          margin                          : 0 SPACE
          font-size                       : 90%
          line-height                     : 125%
          > li
            margin-bottom                 : (SPACE / 2)
        [data-action=add]
          width                           : 100%
          margin-bottom                   : SPACE
      > nav
        > a
          flex-direction                    row
          width                           : 100%
          margin                          : (SPACE / 4) (SPACE / 2)
          > figure
            width                         : SIZE = U
            height                        : SIZE
            margin-right                  : (SPACE / 2)
          > div
            flex-grow                       2
            justify-content                 flex-start
            align-content                   flex-start
            align-items                     flex-start
            > strong
              font-size                   : FONT_SIZE_NORMAL
