[data-page="order"]
  > article
    padding                             : U 0 !important
    &.slideshow
      min-height                        : 20vh !important

  table
    td
      figure
        width                           : SIZE = (U / 1.5)
        height                          : SIZE
        margin                          : 0 SPACE 0 0
        background-color                : BOX
        border                          : solid 1px BOX
      button
        border                          : solid 1px BOX

      &.discount
        > *
          display                       : inline-block
          font-size                     : FONT_SIZE_TINY
        > small
          font-size                     : FONT_SIZE_TINY
          color                         : darken(BACKGROUND, 25%)
        > input
          margin                        : 0 (SPACE / 2)
          max-width                     : 25%
