body
  > header
    z-index                         : 2
    position                        : fixed
    top                             : 0
    left                            : 0
    right                           : 0
    padding                         : 0 SPACE
    height                          : HEADER_HEIGHT
    line-height                     : HEADER_HEIGHT
    background-color                : WHITE
    transition                        all TRANSITION_DURATION
    > .logo, > button
      z-index                       : 1980
    > .logo
      margin-right                  : SPACE
      width                         : 146px
      height                        : 175px
      color                         : THEME
      background-image              : url("/img/logo.png")
      background-size               : cover
      transform                       translateY(0%)
      transition                      all TRANSITION_DURATION
    > nav
      > a
        padding                     : (SPACE / 2) SPACE
        font-size                   : FONT_SIZE_TINY
        letter-spacing              : 1px
        font-weight                 : FONT_WEIGHT_BOLD
        text-transform              : Uppercase
        text-align                  : center
        border-radius               : SPACE
        &:not([data-shopio=cart])> .icon
          display                   : none
        &[data-shopio=cart]
          background-color          : COLOR
          color                     : WHITE
          text-shadow               : 0 1px 1px rgba(0,0,0,0.25)
          > .icon
            margin-right            : (SPACE / 2)
            vertical-align          : middle
            font-size               : FONT_SIZE_TINY
          > small
            display                 : none
          > strong
            margin-right            : (SPACE / 5)
    > button
      max-width                     : SIZE = (U / 2)
      height                        : SIZE
      line-height                   : SIZE
      margin-top                    : (1.5 * SPACE)
      padding                       : 0
      margin-left                   : (SPACE / 2)
      font-size                     : FONT_SIZE_NORMAL
      transition                      all TRANSITION_DURATION ANIMATION_EASE
      &, &:active, &:focus, &:visited
        color                       : WHITE !important
      &.active
        margin-top                  : (SPACE / 2)
        font-size                   : FONT_SIZE_BIG
        color                       : COLOR !important
        transform                     rotateZ(45deg)

    &.scroll
      background-color              : rgba(WHITE,0.95)
      border-bottom                 : solid 1px BOX
      .logo
        transform                     translateY(-10%)

  &:not([data-page="home"])
    > header > nav > a
      margin-right                  : (SPACE / 2)

  &[data-page="home"]
    > header
      > nav
        margin-left                 : (SPACE / 2)
        text-align                  : right
        > a
          transition                  color TRANSITION_DURATION
      &:not(.scroll)
        background-color            : transparent
        > nav > a
          color                     : WHITE
          &[data-shopio=cart]
            background-color        : THEME

// -- MEDIAQUERIES -------------------------------------------------------------
@media screen and (min-device-width: 769px)
  body > header
    > nav
      > a
        &.active, &:hover
          background-color          : THEME !important
          color                     : WHITE
    > button
      display                       : none

@media screen and (max-device-width: 768px)
  body > header
    background-color                : transparent
    padding                         : 0 (SPACE / 2)
    .logo
      height                        : 104px
      width                         : WIDTH = 90px
      min-width                     : WIDTH
      margin-right                  : 0
    > nav
      &[data-shopio=menu]
        position                    : absolute
        top                         : 0
        left                        : 0
        width                       : 100%
        height                      : auto
        padding                     : (2 * SPACE) 0 SPACE 0
        line-height                 : (1.5 * SPACE)
        background-color            : alpha(WHITE, 90%)
        transform                     translateY(-100%)
        transition                    all TRANSITION_DURATION ANIMATION_EASE
        > a
          display                   : block
          margin                    : 0
          color                     : COLOR !important
        &.active
          transform                   translateY(0%)

      &[data-shopio=session]
        flex-grow                     1
        text-align                  : right
        > a
          &:not([data-shopio=cart])
            padding-left            : SPACE = (SPACE / 1.75)
            padding-right           : SPACE
            margin-right            : 0
            color                   : WHITE
            background-color        : COLOR
            abbr
              display               : none
            .icon
              display               : inline-block
          &[data-shopio=cart]
            margin                  : 0

    &.scroll
      background-color              : transparent
      border-bottom                 : none
      > nav[data-shopio=session]
        a
          background-color          : THEME
      > button
        max-width                   : 0px
