article
  &.landing
    height                      : 100vh
    color                       : WHITE
    > h2
      margin-top                : (1.5 * U)
      font-size                 : (U / 1.25)
      text-transform            : Uppercase
      font-weight               : bold
  &:not(.landing)
    padding                     : U 0
    .product
      height                    : 35vh

