[data-page="home"]
  article
    &.slideshow
      height                      : 100vh
      margin-top                  : 0
      background-image            : url("/img/background.jpg")
      > h2
        font-size                 : (1.5 * U)
        margin                    : U 0 (1.25 * SPACE) 0 !important
        line-height               : (1.75 * U)

    &:not(.slideshow)
      .product
        height                    : 35vh
        color                     : WHITE
        background-size           : cover
        transition                  all ANIMATION_DURATION
        &:hover
          box-shadow                inset 0 0 0 100rem alpha(THEME, 50%)


@media screen and (max-device-width: 480px)
  [data-page="home"]
    article
      &.slideshow
        height                    : 82.5vh
        > h2
          font-size               : SIZE = (U / 2)
          line-height             : (SIZE * 1.45)
          margin-bottom           : 0 !important
        > h4
          font-size               : (U / 2.5)
