body
  .margin-top
    margin-top                          : SPACE
  .margin-right
    margin-right                        : SPACE
  .margin-bottom
    margin-bottom                       : SPACE
  .margin-left
    margin-left                         : SPACE
  > article
    &.slideshow
      position                          : relative
      min-height                        : 40vh
      margin-top                        : HEADER_HEIGHT
      color                             : WHITE
      background-size                   : cover
      > *
        color                           : WHITE !important
        margin                          : 0
      > :not(div)
        z-index                         : 1
      > h2
        margin                          : 0
        font-size                       : U
        font-weight                     : FONT_WEIGHT_BOLD
        text-transform                  : Uppercase
        text-align                      : center
        border-bottom                   : solid 2px rgba(255,255,255,0.75)
      > *:not(h2)
        font-weight                     : FONT_WEIGHT_NORMAL
        opacity                         : 0.75
      > .overlay
        z-index                         : 0
        position                        : absolute
        left                            : 0
        width                           : 100%
        top                             : 0
        height                          : 100%
        background                      : url("/assets/img/overlay.png") repeat 0 0

    &:not(.slideshow)
      padding                           : U 0

    h3
      text-align                  : center
      &.margin-top
        margin-top                : U
      &:before, &:after
        content                   : ""
        margin                    : (SPACE / 2) SPACE
        display                   : inline-block
        width                     : U
        height                    : (SPACE / 6)
        background-color          : COLOR
        opacity                   : 0.85

    .box
      box-shadow                          0 0 0 1px BOX
      border-radius                     : BORDER_RADIUS
      // -- Title
      > h1, >h2
        margin-bottom                     : 0
        font-size                         : 150%
        font-weight                       : FONT_WEIGHT_BOLD
        text-transform                    : Uppercase

      &.text
        padding                         : (2 * SPACE)
        > *
          display                       : block
      &:not(.text)
        padding                         : SPACE

  // -- Figure
  figure
    background-size                     : cover


  // -- Product list
  [data-shopio=products]
    > a
      SIZE = 268px
      margin                    : SPACE
      font-weight               : FONT_WEIGHT_BOLD
      > figure
        margin                  : 0
        width                   : SIZE
        height                  : SIZE
        background-color        : WHITE
        &, & > *
          transition              all TRANSITION_DURATION
        > button
          background-color      : COLOR
          color                 : WHITE
          opacity               : 0
          transform               translateY(100%)
          &:hover
            background-color    : THEME
      > strong
        margin-top              : SPACE
        font-size               : FONT_SIZE_BIG
        text-transform          : Uppercase
        color                   : COLOR
      > small
        margin-top              : (SPACE / 2)
        font-size               : FONT_SIZE_NORMAL
        color                   : THEME
      &:hover
        > figure
          box-shadow              inset 0 0 0 100rem alpha(THEME, 35%)
          > button
            opacity               : 1
            transform             translateY(0%)

      &.highlight
        width                   : SIZE = (1.35 * SIZE)
        min-height              : SIZE
        box-shadow              : inset 0 0 0 100rem alpha(COLOR, 50%)
        background-position     : 50% 50%
        > strong
          color                 : WHITE
          font-size             : (U / 2)
          line-height           : (U / 1.5)
          text-shadow           : 0 0 SPACE rgba(0,0,0,0.25)
          box-shadow            : 0 2px rgba(255,255,255,0.75)
          transition              all TRANSITION_DURATION
        > span
          font-weight           : FONT_WEIGHT_NORMAL
          opacity               : 0.75
          padding               : (SPACE / 2) SPACE
        &:hover
          > *
            text-shadow           : 0 0 SPACE rgba(0,0,0,0.5)
