// -- Profile ------------------------------------------------------------------
[data-molecule-div="profile"]
  height                          : (3.4 * U)
  cursor                          : pointer
  &:hover
    background-color              : rgba(0,0,0,0.25)
  [data-atom-figure]
    float                         : left
    margin                        : (U / 1.5)
    width                         : SIZE = (2 * U)
    height                        : SIZE
    background-color              : DARK
    border-radius                 : 50%
  [data-atom-text]
    &.small
      padding-top                 : (U / 1.35)
      padding-bottom              : (U / 8)
      line-height                 : FONT_SIZE_NORMAL
      font-weight                 : FONT_WEIGHT_BOLD
      color                       : WHITE
    &.tiny
      margin-top                  : 0
      line-height                 : FONT_SIZE_TINY
      color                       : lighten(DARK, 50%)
  > *
    display                       : block

// -- Form Group ---------------------------------------------------------------
[data-organism-section]
  > [data-molecule-div]
    margin                        : U 0
    > [data-molecule-div], > [data-molecule-form], > [data-molecule-list]
      display                     : inline-block
      vertical-align              : top
    > [data-molecule-div], > [data-molecule-form]
      padding                     : 2%
    > [data-molecule-div]
      width                       : SIZE = 20%
      max-width                   : SIZE
      > [data-atom-text]
        margin-top                : (U / 3)
        font-size                 : FONT_SIZE_TINY
        line-height               : FONT_SIZE_BIG
        opacity                   : 0.65


    > [data-molecule-form], > [data-molecule-list]
      background-color            : WHITE
      box-shadow                    0 SHADOW_HEIGHT (U / 3) darken(BACKGROUND, 10%)
      border-radius                 BORDER_RADIUS
      &:not(.half)
        width                     : 70%
      &.half
        width                     : 32%
        &:nth-child(even)
          margin-left             : 2%

    > [data-molecule-form]
      [data-atom-input]:not([type=range]):not([type=checkbox]):not([data-atom-input=autocomplete]), [data-atom-input=autocomplete] > input, [data-atom-select], [data-atom-textarea]
        padding-top: (FORM_SIZE / 4)
        padding-bottom: (FORM_SIZE / 4)

    > [data-atom-label]
      margin-bottom               : U
      width                       : 100%
      height                      : U
      border-bottom               : solid 1px darken(BACKGROUND, 10%)
    > [data-molecule-list]
      &:not(.half)
        width                     : 74%
      &.half
        width                     : 34%

    > [data-molecule-navigation]
      display                     : block !important
      padding                     : 0 2%
      width                       : 96% !important
      height                      : HEIGHT = auto !important
      text-align                  : right
      > [data-atom-button]
        margin-left               : 2% !important
        width                     : auto !important
        height                    : HEIGHT
