[data-atoms=app]
  font-family       : FONT_FAMILY
  font-weight       : FONT_WEIGHT_THIN
  font-size         : 100%
  background-color  : darken(DARK, 50%)

  .loading-animation
    &::before, &::after
      background-color: WHITE
