[data-organism-dialog="session"]
  [data-organism-section]
    [data-atom-text]
      &.tiny
        SIZE = (1.25 * U)
        margin-left: -(SIZE)
        margin-right: -(SIZE)
        padding: 0 SIZE
        font-weight: FONT_WEIGHT_BOLD
        color: CANCEL
        background-color: lighten(CANCEL, 50%)
  [data-organism-footer]
    &.disabled
      background-color : darken(BACKGROUND, 10%) !important
      border-color: transparent !important
