[data-molecule-form]
  > .half
    display                           : inline-block
    width                             : 49% !important
    &:nth-child(odd)
      margin-right                    : 2%
  > .quarter
    display                           : inline-block
    width                             : 23% !important
    &:nth-child(even)
      margin                          : 0 2%
  > [data-atom-input][type="checkbox"]
    margin                            : (U / 2) 0 0 0
    + [data-atom-label]
      margin-top                      : (U / 2)


  > [data-atom-label] + [data-atom-input][type="checkbox"]
    margin-left                       : U
  > [data-atom-input][type="file"]
    display                           : none !important

  iframe
    min-height                        : (16 * U)
    font-size                         : 12px

[data-molecule-form="filter"], [data-molecule-form="filterorder"]
  z-index                             : 1
  position                            : fixed
  left                                : 0
  right                               : 0
  padding                             : (U / 2) U
  background-color                    : lighten(BACKGROUND, 50%) !important
  box-shadow                          : 0 1px darken(BACKGROUND, 5%)
  > [data-atom-input], > [data-atom-select]
    line-height                       : (2 * U) !important
    &:not(:last-child)
      margin-right                    : U
    &:not([type=number])
      flex-grow                         2
    &[type=number]
      flex-grow                         0
      width                           : (4 * U)
  > [data-atom-label]
    margin-top                        : (U / 2)
    min-width                         : (3 * U)

  + [data-molecule-list]
    margin-top                        : (4 * U)
