[data-atom-li]
  &.banned
    background-color                      : lighten(BACKGROUND, 75%) !important
    span, small, strong
      color                               : darken(BACKGROUND, 25%) !important
