[data-organism-dialog]
  [data-organism-section]
    [data-atom-input],[data-atom-textarea]
      padding-left                          : SIZE = (FORM_SIZE / 2)
      padding-right                         : SIZE
      box-shadow                              none !important
      border                                : solid 1px FORM_COLOR !important

[data-organism-dialog="session"]
  min-width                                 : (20 * U)
  [data-organism-header]
    > [data-atom-heading]
      padding                               : 0 !important
      width                                 : 100%
      text-align                            : center
    > [data-molecule-navigation]
      display                               : none !important

  [data-organism-section]
    [data-atom-input]
      font-size                             : FONT_SIZE_NORMAL !important
      line-height                           : (3 * FONT_SIZE_NORMAL) !important
    [data-atom-text]
      text-align                            : center
      &:not(.tiny)
        font-size                           : FONT_SIZE_SMALL
      &.tiny
        SIZE = (1.25 * U)
        margin                              : SIZE -(SIZE)
        padding                             : 0 SIZE
        font-weight                         : FONT_WEIGHT_BOLD
        color                               : CANCEL
        background-color                    : lighten(CANCEL, 50%)
  [data-organism-footer]
    &.disabled
      background-color                      : darken(BACKGROUND, 10%) !important
      border-color                          : transparent !important

[data-organism-dialog="profile"]
  min-width                                 : 50vw
  [data-organism-section]
    [data-atom-figure]
      display                               : inline-block
      margin-right                          : U
      width                                 : SIZE = (3.5 * U)
      height                                : SIZE
      + [data-atom-button]
        vertical-align                      : top
