[data-atom-button]
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  [data-atoms=app] [data-organism-header] &
    height: HEIGHT = 2.1rem
    line-height: HEIGHT
    margin: (U / 1.5) (U / 4)
  [data-atoms=app] &
    // box-shadow inset 0 0 0 1px rgba(0,0,0,0.1)
    border-radius: BORDER_RADIUS
    > abbr
      font-size: FONT_SIZE_TINY !important
      font-weight: FONT_WEIGHT_BOLD
    &.transparent
      background-color: BUTTON
      > abbr
        color: darken(BUTTON, 50%)
    &:not([disabled]):not(.transparent)
      PERCENT = 30%
      &:hover
        box-shadow inset 0 0 0 10rem rgba(0,0,0,0.1)
      > abbr
        color: WHITE
      &:active
        color: WHITE
        background-color: darken(BUTTON, PERCENT)
      &.accept
        background-color: ACCEPT
        &:active
          background-color: darken(ACCEPT, PERCENT)
      &.cancel
        background-color: CANCEL
        &:active
          background-color: darken(CANCEL, PERCENT)
      &.warning
        background-color: WARNING
        &:active
          background-color: darken(WARNING, PERCENT)
      &.theme
        background-color: THEME
        &:active
          background-color: darken(THEME, PERCENT)
      &.accept, &.cancel, &.warning, &.theme
        color: WHITE

    &[disabled]
      background-color: darken(BACKGROUND, 10%)
      & > abbr, & .icon
        opacity: 0.75


  [data-atoms=app] & > small
    font-weight: bold
    border-radius: .25rem
    color: WHITE
    background-color: THEME
  [data-atoms=app] header & > small
    background-color: DARK


@media screen and (min-width: 1024px)
  [data-atoms=app] [data-organism-section] [data-atom-button]:not([disabled])
    cursor: pointer
    PERCENT = 15%
    &:not(.accept):not(.cancel):not(.warning):not(.theme):hover
      background-color: lighten(BUTTON, PERCENT)
      color: WHITE
    &.accept:hover
      background-color: lighten(ACCEPT, PERCENT)
    &.cancel:hover
      background-color: lighten(CANCEL, PERCENT)
    &.warning:hover
      background-color: lighten(WARNING, PERCENT)
    &.theme:hover
      background-color: lighten(THEME, PERCENT)
