[data-atom-label]
  color                             : darken(FORM_COLOR, 50%)
  &:not(.tip)
    font-weight                     : FONT_WEIGHT_BOLD
    text-transform                  : Capitalize
  &.tip
    vertical-align                  : top
    font-size                       : FONT_SIZE_TINY
    line-height                     : FONT_SIZE_BIG
    opacity                         : 0.75
