[data-atoms=app]
  [data-organism-section] > [data-molecule-form=search]
    > [data-atom-button]
      box-shadow: none !important
      border-radius: 0 BORDER_RADIUS BORDER_RADIUS 0
      background-color: FORM_COLOR

  [data-organism-article] > [data-molecule-form=search]
    background-color: WHITE
    border-bottom: DIVIDER
    transition margin-top (ANIMATION_DURATION / 3)
    > [data-atom-input]
      box-shadow: none !important
