[data-atoms=app]
  [data-molecule-div=tags]
    > [data-atom-label]
      font-weight: FONT_WEIGHT_BOLD
      text-transform: lowercase
      border-radius: FONT_SIZE_TINY
      background-color: darken(BACKGROUND, 20%)
      color: WHITE

      &.theme
        background-color: THEME
      &.accept
        background-color: ACCEPT
      &.cancel
        background-color: CANCEL
      &.warning
        background-color: WARNING
      &:active
        box-shadow inset 0 0 0 2rem rgba(0,0,0,0.15)


@media screen and (min-width: 1024px)
  [data-atoms=app] [data-molecule-div=tags] > [data-atom-label]
    &:hover
      box-shadow inset 0 0 0 2rem rgba(0,0,0,0.15)
      cursor: pointer
