[data-atoms=app]
  > [data-organism-article] > [data-organism-header]
    background-color    : WHITE
    box-shadow          : 0 1px darken(BACKGROUND, 5%)

    [data-atom-progress]
      position          : absolute
      left              : 0
      right             : 0
