[data-molecule-form]
  > .half
    display                           : inline-block
    width                             : 49% !important
    &:nth-child(odd)
      margin-right                    : 2%
  > [data-atom-input][type="file"]
    display                           : none !important

@media screen and (max-device-width: 480px)
  [data-atom-label]
    margin-bottom                   : (SPACE / 10)
  [data-atom-input], [data-atom-textarea], [data-atom-select]
    margin-bottom                   : (SPACE / 4)
