[data-molecule-form]
  > .half
    display                           : inline-block
    width                             : 49% !important
    &:nth-child(odd)
      margin-right                    : 2%
  > [data-atom-input][type="file"]
    display                           : none !important
