[data-organism-section="checkout"]
  [data-atom-heading]
    &.inline
      display                             : inline-block
      + [data-atom-input][type="checkbox"]
        margin-left                       : (SPACE / 2)

  [data-atom-input][type="radio"]
    display                               : inline-block
    + [data-atom-label]
      margin-left                         : (SPACE / 2)
      display                             : inline-block
