// -- BASE ---------------------------------------------------------------------
[data-system=dialog]
  HEADER_HEIGHT = 40px
  PADDING = SPACE
  MODAL_WIDTH = 300px

  z-index: 1980
  left: 0
  width: 100%
  overflow: hidden

  &:not(.no-block)
    position: fixed
    top: 0
    height: 100%
    display-flex()
    justify-content center
    align-content center
    align-items center

  &.no-block
    position: absolute
    bottom: 0
    height: HEIGHT = (HEADER_HEIGHT / 2)
    padding-top: (.5 * PADDING)
    line-height: HEIGHT
    &.expand
      height: (HEADER_HEIGHT / 2) + (HEADER_HEIGHT * 1.1)

  &:not(.active)
    visibility: hidden
  &.active
    visibility: visible

  > [data-organism-dialog]
    backface-visibility hidden
    transform translateZ(0)

  > [data-organism-dialog=loading]
    width: 100%
    height: 100%
    position: relative
    > .loading-animation
      position: absolute
      width: U
      height: U
      top: 50%
      left: 50%
      margin-left: -(U / 2)
      margin-top: -(U / 2)
      &::before, &::after
        width: U
        height: U

  > [data-organism-dialog=push]
    PADDING = (.75 * PADDING)
    > h1
      font-size: FONT_SIZE_SMALL
      font-weight: normal
      padding: 0 PADDING
    > section
      height: (1.25 * HEADER_HEIGHT)
      padding: PADDING
      display-flex()
      flex-direction row
      justify-content center
      align-content center
      text-align: -webkit-match-parent
      SIZE = 2.35rem
      > figure
        height: SIZE
        width: SIZE
        margin-right: PADDING
        background-size: cover
        flex-shrink 0
      > p
        flex-grow 2
        font-size: FONT_SIZE_TINY
        line-height: FONT_SIZE_BIG
        height: SIZE
        overflow: hidden


  > :not([data-organism-dialog=loading]):not([data-organism-dialog=push])
    width: MODAL_WIDTH
    PAD = (1.5 * PADDING)
    display-flex()
    flex-direction column

    > [data-organism-header]
      order 1
      > [data-atom-heading]
        padding: 0 0 0 PAD
        font-size: FONT_SIZE_BIG
      > [data-molecule-navigation]
        padding: 0 PADDING 0 0
      > *
        display: inline-block
    > [data-molecule-navigation]
      order 2
    > [data-organism-section]
      order 3
      flex-grow 2
      padding: (.75 * PAD) PAD

    > [data-organism-footer]
      order 4
      padding: PADDING PAD

    &:not(.cancel):not(.accept):not(.warning)
      > [data-organism-header] + [data-organism-section]
        padding-top: 0

    &.side
      position: absolute
      height: inherit
      &:not(.right)
        left: 0px
      &.right
        right: 0px


// -- THEME --------------------------------------------------------------------
[data-system=dialog]
  &:not(.active)
    display: none
  &.active
    background                      : rgba(0,0,0,0.25) url("/img/overlay.png") repeat 0 0
    &:not(.no-block):not(.loading)
      > [data-organism-dialog]
        background-color: lighten(BACKGROUND, 2.5%)
        border-radius: SPACE
        &, [data-atom-button], [data-atom-link]
          color: darken(BACKGROUND, 75%)
        > [data-organism-header]
          height: U
          line-height: U
          color: WHITE
          background-color: THEME
          border-radius: SPACE SPACE 0 0
          [data-molecule-navigation]
            float: right
            [data-atom-button]
              border: transparent
              color: lighten(THEME, 50%)
              &:hover
                color: lighten(THEME, 75%)

        > [data-organism-section]
          [data-atom-text]
            text-align: center
            margin: (SPACE / 2) 0 0 0
            &:not(.error)
              font-size: FONT_SIZE_SMALL
              color: darken(BACKGROUND, 50%)
            &.error
              font-size: FONT_SIZE_TINY
              color :red
              background-color: lighten(red, 75%)
              border-radius: SPACE
          [data-atom-input]
            margin: (SPACE / 4) 0

          [data-molecule-navigation]
            font-size: FONT_SIZE_TINY
            text-align: center

        > [data-organism-footer]
          background-color: BACKGROUND = darken(BACKGROUND, 2.5%)
          border-top: solid 1px darken(BACKGROUND, 5%)
          border-radius: 0 0 SPACE SPACE

          [data-atom-button][disabled]
            background-color: BACKGROUND
            color: darken(BACKGROUND, 25%)

        &:not(.side)
          &.show, &.hide
            vendor(animation-name, dialog-bottom)
        &.side
          &:not(.right)
            &.show, &.hide
              vendor(animation-name, dialog-left)
          &.right
            &.show, &.hide
              vendor(animation-name, dialog-right)

      > [data-organism-dialog="success"]
        width                     : SIZE = (4 * U)
        height                    : SIZE
        background-color          : rgba(0,0,0,0.5)
        color                     : WHITE
        border-radius             : (SIZE / 4)
        [data-organism-section]
          display-flex()
          flex-direction column
          align-items center
          align-content center
          justify-content center
          > *
            margin-top              : (U / 4)
          [data-atom-icon]
            font-size               : (1.5 * U)
          [data-atom-text]
            font-size               : (U / 2.5) !important
            color                   : WHITE !important

    &.loading
      > [data-organism-dialog]
        &.show, &.hide
          vendor(animation-name, dialog-loading-show)

    &.no-block
      transition height (.5 * ANIMATION_DURATION)
      > [data-organism-dialog]
        background-color: DARK
        color: WHITE
        > section
          background-color: WHITE
          > figure
            background-color: darken(BACKGROUND, 7.5%)
          > p
            color: DARK
        &.show, &.hide
          vendor(animation-name, dialog-bottom)

    > [data-organism-dialog]
      vendor(animation-duration, ANIMATION_DURATION)
      vendor(animation-timing-function, ANIMATION_EASE)
      &.show
        vendor(animation-direction, normal)
      &.hide
        vendor(animation-direction, reverse)
        vendor(animation-fill-mode, forwards)

// -- ANIMATIONS ---------------------------------------------------------------
@keyframes dialog-show
  0%
    transform scale3d(1.1, 1.1, 1)
  100%
    opacity: 1
    transform: scale3d(1, 1, 1)

@keyframes dialog-bottom
  0%
    transform: translateY(250%)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes dialog-left
  0%
    transform: translateX(-150%)
  100%
    opacity: 1
    transform: translateX(0)

@keyframes dialog-right
  0%
    transform: translateX(150%)
  100%
    opacity: 1
    transform: translateX(0)

@keyframes dialog-loading-show
  0%
    opacity: 0
  100%
    opacity: 1
