body > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $OFFSET;
  > nav {
    padding: ($OFFSET / 4) 0;
    &[data-role='pages'] > a {
      padding: 0 ($OFFSET / 2);
      font-size: $FONT-SIZE-SMALL;
    }
  }
  > small {
    font-size: $FONT-SIZE-TINY;
  }
}

@media screen and (max-device-width: 480px) {
  body > footer {
    > small {
      font-size: (.75 * $FONT-SIZE-TINY);
    }
  }
}
