$SIZE: 25vw;
$SIZE-HIGHLIGHT: 32vw;

[data-component='products'] {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  > * {
    display: flex;
    width: 0;
    height: $SIZE;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: ($OFFSET / 2);
    background-position: center center;
  }
  &:not(.highlight) > * {
    max-width: $SIZE;
  }
}

@media screen and (max-device-width: 480px) {
  [data-component='products'] {
    > a {
      min-width: 100vw;
      height: 75vw;
      margin: 0 0 $OFFSET 0;
    }
  }
}
