$HEIGHT: ($UNIT / 1.6) !important;

[data-page="product"] {
  [data-component="content"] {
    max-width: 1024px;
    margin: 0 auto;
  }
  [data-role="info"] {
    display: flex;
    > [data-role="details"] {
      display: flex;
      width: 100%;
      flex-direction: column;
      > h1 {
        padding: 0;
        margin-bottom: $OFFSET;
        font-size: 4.8 * $UNIT;
      }
      > p {
        margin: $OFFSET 0;
        line-height: 135%;
      }
      > form {
        display: flex;
        align-items: center;
        margin-bottom: $OFFSET;
        > label {
          margin-right: ($OFFSET / 2);
          margin-left: $OFFSET;
        }
        > button {
          &[data-action='buy'] {
            width: 100%;
            margin-left: $OFFSET;
          }
        }
        > input {
          max-width: 3.2 * $UNIT;
        }
      }
      [data-role="tags"] {
        margin-bottom: ($OFFSET / 2);
        font-size: $FONT-SIZE-TINY;
        font-weight: bold;
        > a {
          padding: ($UNIT / 4) ($UNIT / 2);
        }
      }
    }
  }
  // #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  //   background-image: url('/assets/core/img/fancybox_sprite.png') !important;
  // }
  // #fancybox-loading div {
  //   background: url('/assets/core/img/fancybox_loading.gif') center center no-repeat !important;
  // }
  // .fancybox-nav {
  //   background: transparent url('/assets/core/img/blank.gif') !important;
  // }
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  // #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  //   background-image: url('/assets/core/img/fancybox_sprite@2x.png') !important;
  //   background-size: 44px 152px;
  // }

  // #fancybox-loading div {
  //   background-image: url('/assets/core/img/fancybox_loading@2x.gif') !important;
  //   background-size: 24px 24px;
  // }
}

@media screen and (min-device-width: 481px) {
  [data-page="product"] {
    [data-component="content"] {
      padding: (2 * $OFFSET) 0;
    }
    [data-role="info"] {
      > [data-role="image"] {
        min-width: 40vw;
        height: 40vw;
        margin-right: $OFFSET;
      }
      > [data-role="details"] {
        padding: 0 $OFFSET;
      }
    }
  }
}
@media screen and (max-device-width: 480px) {
  [data-page="product"] {
    [data-role="info"] {
      flex-direction: column;
      > [data-role="image"] {
        min-height: 90vw;
        margin-bottom: $OFFSET;
      }
      > [data-role="details"] {
        > p {
          text-align: justify;
        }
      }
    }
  }
}
