[data-page='home'] {
  [data-component='slideshow'] {
    height: 90vh;
  }
  [data-component='content'] {
    text-align: center;
  }
}

@media screen and (max-device-width: 480px) {
  [data-page='home'] {
    [data-component='slideshow'] {
      height: 75vh;
    }
  }
}
