$SIZE: 23.5vw;
$SIZE-HIGHLIGHT: 32vw;

[data-products] {
  > a {
    margin: 1vw .5vw;
    > figure {
      display: flex;
      width: $SIZE;
      height: $SIZE;
      align-content: center;
      align-items: center;
      justify-content: center;
      margin: 0 0 $UNIT 0;
      &, > * {
        transition: all $ANIMATION-DURATION;
      }
      > button {
        opacity: 0;
        transform: translateY(100%);
      }
    }
    > div {
      > .uppercase {
        text-transform: Uppercase;
      }
      > strong {
        margin: 0 0 ($UNIT / 3) 0;
        font-size: $FONT-SIZE-LARGE;
        font-weight: bold;
      }
      > small {
        font-size: $FONT-SIZE-TINY;
        line-height: $FONT-SIZE-TINY;
      }
    }
    &:hover {
      > figure {
        > button {
          opacity: 1;
          transform: translateY(0%);
        }
      }
    }
    &.highlight {
      width: $SIZE-HIGHLIGHT;
      min-height: $SIZE-HIGHLIGHT;
      background-position: 50% 50%;
      > div {
        > strong {
          font-size: (U / 2);
          line-height: (U / 1.5);
          text-shadow: 0 0 $UNIT rgba(0,0,0,.25);
        }
        > span {
          padding: ($UNIT / 2) $UNIT;
          font-weight: normal;
          opacity: .75;
        }
      }
      &:hover > * {
        text-shadow: 0 0 $UNIT rgba(0,0,0,.5);
      }
    }
  }
}

$SIZE: 100vw;
@media screen and (max-device-width: 480px) {
  [data-products] {
    margin: 0;
    > a {
      position: relative;
      margin: 0;
      > figure {
        width: $SIZE;
        height: $SIZE;
        margin-bottom: 0;
        > button {
          display: none;
        }
      }
      &.highlight {
        width: $SIZE;
        min-height: $SIZE;
      }
    }
  }
}
