body > header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $Z-INDEX-HIGH;
  display: flex;
  height: $HEADER-HEIGHT;
  padding: 0 $OFFSET;
  line-height: $HEADER-HEIGHT;
  transition: all $ANIMATION-DURATION;
  > .logo, > button {
    z-index: $Z-INDEX-HIGHEST;
    flex-grow: 0;
  }
  > .logo {
    margin-right: $OFFSET;
    font-size: $FONT-SIZE-LARGE;
    font-weight: bold;
  }
  > nav {
    &[data-role='menu'] {
      flex-grow: 1;
      &, > a {
        padding: 0 ($OFFSET / 2);
      }
    }
    > a {
      font-size: $FONT-SIZE-SMALL;
      &:not([data-=cart]) > .icon {
        display: none;
      }
      &[data-=cart] {
        text-shadow: 0 1px 1px rgba(0,0,0,.25);
        > .icon {
          margin-right: ($UNIT / 2);
          font-size: $FONT-SIZE-TINY;
          vertical-align: middle;
        }
        > small {
          display: none;
        }
        > strong {
          margin-right: ($UNIT / 5);
        }
      }
    }
  }
  &.scroll .logo {
    transform: translateY(-10%);
  }
}

// -- MEDIAQUERIES -------------------------------------------------------------
@media screen and (min-device-width: 769px) {
  body > header {
    > button {
      display: none;
    }
  }
}

@media screen and (max-device-width: 768px) {
  body > header {
    padding: 0 ($UNIT / 2);
    .logo {
      width: WIDTH = 90px;
      min-width: WIDTH;
      height: 104px;
      margin-right: 0;
    }
    > nav
    &[data-=menu] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      padding: (2 * $UNIT) 0 $UNIT 0;
      line-height: (1.5 * $UNIT);
      transition: all $ANIMATION-DURATION $ANIMATION-EASE;
      transform: translateY(-100%);
      > a {
        display: block;
        margin: 0;
      }
      &.active {
        transform: translateY(0%);
      }
    }
    &[data-=session] {
      flex-grow: 1;
      text-align: right;
      > a {
        &:not([data-=cart]) {
          padding-right: $UNIT;
          padding-left: $UNIT = ($UNIT / 1.75);
          margin-right: 0;
          abbr {
            display: none;
          }
          .icon {
            display: inline-block;
          }
          &[data-=cart] {
            margin: 0;
          }
        }
      }
    }
  }
}
