@import "./_config";

@import "./store.header";
@import "./store.footer";

@import "./store.partial.button";
@import "./store.partial.products";

@import "./store.page";
@import "./store.page.home";
@import "./store.page.product";


body {
  background-color: $WHITE;
  font-size: $FONT-SIZE;
  font-family: $FONT_FAMILY;
}
