@import "./_config";

@import "./store.header";
@import "./store.footer";
@import "./store.partial.button";

body {
  background-color: $BACKGROUND;
  font-size: $FONT-SIZE;
  font-family: $FONT_FAMILY;
}
