body > header {
  > .logo {
    color: $ACCENT;
    font-family: $FONT-FAMILY-BRAND;
    font-size: 250%;
    font-weight: normal;
  }
  > nav {
    > a {
      color: $WHITE;
      font-weight: $FONT-WEIGHT-BOLD;
      &:hover {
        color: $ACCENT;
      }
    }
    > button {
      background-color: darken($ACCENT, .75);
    }
  }
}
