// [data-atoms=app]
//   [data-organism-aside]
//     [data-atom-link]
//       border-bottom: solid 1px lighten(DARK, 5%)
//       font-weight: normal
//       &:not(.active)
//         color: lighten(DARK, 50%)
//       &.active
//         color: WHITE
//       > .icon
//         color: WHITE
//       > small
//         background-color: THEME
//         font-weight: bold
//         color: WHITE
//         border-radius: BORDER_RADIUS

//   [data-organism-header] [data-molecule-navigation] [data-atom-link]
//     color: lighten(THEME, 85%)
//     &:active, &.active
//       color: WHITE

// @media screen and (min-width: 1024px)
//   [data-atoms=app] [data-organism-header] [data-molecule-navigation] [data-atom-link]:hover
//     color: WHITE
