@import "../_config.scss";

$root-width: 22 * $unit ;

.root {
  width: $root-width;
  height: 100vh;
  display: flex;
  background-color: white;
  flex-direction: column;
}

.header {

}

.list {
  flex-grow: 1;
}

.footer {
  background-color: blue;
}
