<!DOCTYPE html>
<html lang="{{settings.language}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{settings.name}}</title>
    <meta name="title" content="{{meta.title}}">
    <meta name="description" content="{{meta.description}}">
    <meta name="keywords" content="{{settings.description}}">
    <meta name="author" content="{{settings.name}}">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
    <meta name="apple-mobile-web-app-title" content="{{meta.title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/core/80cents{{asset}}.dependencies.css">
    <link rel="stylesheet" href="{{theme}}.css">
  </head>
  <body data-page="{{page}}" data-atoms="app">
    {{> 404 }}
    {{> store.header}}
    {{> store.home}}
    {{> store.page}}
    {{> store.collection}}
    {{> store.product}}
    {{> store.profile}}
    {{> store.order}}
    {{> store.checkout}}
    {{> store.footer}}

    <script src="/assets/core/80cents{{asset}}.dependencies.js"></script>
    <script src="/assets/core/80cents{{asset}}.js"></script>
    <script>
      __.host = "{{{host}}}";
      {{#session}}
      __.session = {
        id        : "{{session.id}}",
        mail      : "{{session.mail}}",
        first_name: "{{session.first_name}}",
        last_name : "{{session.last_name}}",
        avatar    : "{{{session.avatar}}}"};
      {{/session}}
      {{#owner}}__.owner = {{owner}};{{/owner}}
      {{#collection}}__.collection = "{{collection.id}}";{{/collection}}
      {{#product}}__.product = "{{product.id}}";{{/product}}
      {{#order}}__.order = "{{order.id}}";{{/order}}
    </script>
    {{#settings.google_analytics}}<script>{{{settings.google_analytics}}}</script>{{/settings.google_analytics}}
  </body>
</html>
