<h1>Welcome to {{settings.name}}</h1>
<h2 class="ghost">Below you will find your account information</h2>
<hr/>
<p>Hi!</p>
<p>
  Thanks for submitting your account information! You’re now ready to buy our products. You can <a href="{{host}}login">log in</a> in your member are right away, using your mail account <strong>{{user.mail}}</strong>.
</p>
<p>Sincerely,</p>
<a href="{{host}}"><strong>{{settings.name}}</strong></a>
