<h1>Order {{order.state_label}}</h1>
<h2 class="ghost">Below you will find your order information</h2>
<hr/>
<p>Hi!</p>
<p>Your Order no. <strong><a href="{{host}}order/{{order.id}}">{{order.id}}</a></strong> has been {{order.state_label}}.</p>

<table class="order">
  <thead>
    <tr>
      <th>Product</th>
      <th class="center">Units</th>
      <th class="center">Price</th>
      <th class="right">Total</th>
    </tr>
  </thead>
  <tbody>
    {{#lines}}
    <tr data-line="{{id}}">
      <td data-flex="horizontal grow">
        <a href="{{host}}product/{{product.id}}"><strong>{{product.title}}</strong></a>
      </td>
      <td class="center">{{quantity}}</td>
      <td class="center">{{product.price}}{{settings.currency_shortcut}}</td>
      <td class="right"><strong>{{amount}}{{settings.currency_shortcut}}</strong></td>
    </tr>
    {{/lines}}
    <tr>
      <td colspan="4" class="right">{{order.amount}}{{settings.currency_shortcut}}</td>
    </tr>
  </tbody>
</table>

{{#order.tracking_number}}
<p>Your order tracking number is <strong>{{order.tracking_number}}</strong>.</p>
{{/order.tracking_number}}

<p>Sincerely,</p>
<a href="{{host}}"><strong>{{settings.name}}</strong></a>
