<nav data-shopio="products" data-flex="horizontal center wrap">
  {{#products}}
  <a href="/product/{{shortcut}}" data-flex="vertical center">
    <figure data-flex="vertical center" style="background-image: url(/uploads/{{default_image}});">
      <button>View product</button>
    </figure>
    {{#collection_id.title}}<small class="uppercase">{{collection_id.title}}</small>{{/collection_id.title}}
    <strong class="uppercase">{{title}}</strong>
    <small>{{price}}{{settings.currency_shortcut}}</small>
  </a>
  {{/products}}
</nav>
