<nav data-component="products" data-flex="horizontal center wrap">
  {{#products}}
  <a href="/product/{{shortcut}}" data-product="{{id}}" style="background-image: url(/uploads/{{default_image}});">
    {{#collection_id.title}}<small class="uppercase">{{collection_id.title}}</small>{{/collection_id.title}}
    <h3 class="uppercase">{{title}}</h3>
    <small>{{price}} {{settings.currency_shortcut}}</small>
  </a>
  {{/products}}
</nav>
