<nav data-shopio="products" data-flex="horizontal center wrap">
  {{#products}}
  <a href="/product/{{shortcut}}" data-flex="vertical center" data-shopio-product="{{id}}">
    <figure style="background-image: url(/uploads/{{default_image}});">
      <button>View product</button>
    </figure>
    <div data-flex="vertical center">
      {{#collection_id.title}}<small class="uppercase">{{collection_id.title}}</small>{{/collection_id.title}}
      <strong class="uppercase">{{title}}</strong>
      <small>{{price}}{{settings.currency_shortcut}}</small>
    </div>
  </a>
  {{/products}}
</nav>
