{{! -- COLLECTION ----------------------------------------------------------- }}
<article class="slideshow" data-flex="vertical center" style="background-image: url(/assets/uploads/{{collection.default_image}});">
  <div class="overlay"></div>
  <h2>{{collection.title}}</h2>
</article>

{{! -- PRODUCTS ------------------------------------------------------------- }}
<article>
  <nav class="container" data-shopio="products" data-flex="horizontal center wrap">
    {{#products}}
    <a href="/product/{{id}}" data-flex="vertical center">
      <figure data-flex="vertical center" style="background-image: url(/assets/uploads/{{default_image}});">
        <button>View product</button>
      </figure>
      <strong>{{title}}</strong>
      <small>{{price}}{{settings.currency}}</small>
    </a>
    {{/products}}
  </nav>
</article>
