<article class="slideshow" data-flex="vertical center" style="background-image: url(/assets/uploads/{{session.avatar}});">
  <div class="overlay"></div>
  <h2>Your Profile</h2>
</article>

<article>
  <div class="container">
    <div data-column="5" class="box bck">
      <h2>Your Personal Data</h2>
      <form action="/profile" method="post" enctype="multipart/form-data">
        <label>First name</label>
        <input type="text" value="{{session.first_name}}" name="first_name"/>
        <label>Last name</label>
        <input type="text" value="{{session.last_name}}" name="last_name"/>
        <label>Your mail</label>
        <input type="email" value="{{session.mail}}"  name="mail" disabled="true"/>
        <label>Home page</label>
        <input type="text" value="{{session.homepage}}" name="homepage"/>
        <label>Bio</label>
        <textarea name="bio">{{session.bio}}"</textarea>

        <nav class="align right">
          <a href="/profile/logout" class="button">Logout</a>
          <button data-action="save" class="primary">Save</button>
        </nav>
      </form>
    </div>

    {{#has_orders}}
    <div data-column="7" class="box">
      <h2>Your Orders</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>State</th>
            <th>date</th>
            <th class="right">Total</th>
          </tr>
        </thead>
        <tbody>
          {{#orders}}
          <tr>
            <td>{{id}} - <small><a href="/order/{{id}}">View</a></small></td>
            <td><small>{{state_label}}</small></td>
            <td><small>{{created_at}}</small></td>
            <td class="right"><strong>${{amount}}</strong></td>
          </tr>
          {{/orders}}
        </tbody>
      </table>
    </div>
    {{/has_orders}}
  </div>
</article>
