<footer class="bck align center" data-flex="vertical grow">
  <nav class="networks">
    <a href="/" class="icon twitter"></a>
    <a href="/" class="icon facebook"></a>
    <a href="/" class="icon instagram"></a>
    <a href="/" class="icon pinterest"></a>
  </nav>
  <nav>
    {{#pages}}<a href="/{{search.url_handle}}">{{title}}</a>{{/pages}}
  </nav>
  <small>
    COPYRIGHT © 2015 ZETAPATH LTD. ALL RIGHTS RESERVED.
  </small>
</footer>
