<article class="bck color slideshow" data-flex="vertical center">
  <div class="overlay"></div>
  {{#content}}
    <h2>{{title}}</h2>
  {{/content}}
  {{^content}}
    <h2>Wellcome the backery</h2>
    <h6><i>We love to create special flavor every day</i></h6>
  {{/content}}


</article>

<article>
  <div class="container">
    {{#products}}
    <a href="/product/{{id}}" data-column="6" class="product bck" data-flex="vertical center" style="background-image: url(/assets/uploads/{{default_image}});">
      <strong>{{title}}</strong>
    </a>
    {{/products}}
    {{#content}}{{{content}}}{{/content}}
  </div>
</article>
