<footer class="bck align center" data-flex="vertical grow">
  <nav class="networks">
    <a href="/" class="icon twitter"></a>
    <a href="/" class="icon facebook"></a>
    <a href="/" class="icon instagram"></a>
    <a href="/" class="icon pinterest"></a>
  </nav>
  <nav>
    <a href="/about">about</a>
    <a href="/faqs">faqs</a>
    <a href="/order">order</a>
    <a href="/tracking">tracking</a>
    <a href="/contact">contact</a>
  </nav>
  <small>
    COPYRIGHT © 2015 ZETAPATH LTD. ALL RIGHTS RESERVED.
  </small>
</footer>
