<footer>
  <nav data-role="pages">
    {{#settings.pages}}<a href="/{{url_handle}}">{{title}}</a>{{/settings.pages}}
  </nav>
  <nav data-role="networks">
    {{#settings.networks}}
    <a href="{{url}}" class="icon {{type}}"></a>
    {{/settings.networks}}
  </nav>
  <small>
    COPYRIGHT © 2015 {{settings.address.contact}}. ALL RIGHTS RESERVED.
  </small>
</footer>
