<article class="slideshow" data-flex="vertical center" style="background-image: url();">
  <div class="overlay"></div>
  <h1>Checkout</h1>
  <h3>{{order.amount}} {{settings.currency_shortcut}}</h3>
</article>

<article id="checkout"></article>

<script src="https://checkout.stripe.com/checkout.js"></script>
