<header class="bck white">
  <div class="container"  data-flex="horizontal grow">
    <a href="/" class="logo" data-flex-grow="min"><img src="/assets/img/logo_header.png"/></a>
    <nav class="align left"data-flex-grow="max">
      {{#settings.collections}}<a href="/collection/{{id}}">{{title}}</a>{{/settings.collections}}
      {{#settings.pages}}{{#header}}<a href="/{{url_handle}}">{{title}}</a>{{/header}}{{/settings.pages}}
    </nav>
    <nav class="align right" data-flex-grow="min">
      {{#session}}
      {{#session.shopping}}
      <a href="/cart" class="cart icon cart">{{amount}}{{settings.currency}}<small>{{lines.length}}</small></a>
      {{/session.shopping}}
      <a href="/profile" class="icon user"></a>
      {{/session}}
      {{^session}}
      <button data-action="session" class="primary">sign in</button>
      {{/session}}
    </nav>
  </div>
</header>
