<article class="slideshow" data-flex="vertical center" style="background-image: url();">
  <div class="overlay"></div>
  {{#cart}}<h2>Your cart <span>{{order.amount}}{{settings.currency}}</span></h2>{{/cart}}
  {{^cart}}<h2>Order {{order.id}}</h2>{{/cart}}
</article>

<article>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>{{^cart}}Tracking Number{{/cart}}</th>
          <th class="center">Units</th>
          <th class="center">Price</th>
          <th class="right">Total</th>
        </tr>
      </thead>
      <tbody>
        {{#lines}}
        <tr data-line="{{id}}">
          <td data-flex="horizontal grow">
            <a href="/product/{{product.id}}" data-flex-grow="min"><figure style="background-image: url(/assets/uploads/{{product.default_image}});"></figure></a>
            <strong>{{product.title}}</strong>
          </td>
          <td>
            {{#cart}}<button data-action="delete">remove</button>{{/cart}}
            {{^cart}}{{tracking_number}}{{/cart}}
          </td>
          <td class="center">{{quantity}}</td>
          <td class="center">{{product.price}}{{settings.currency}}</td>
          <td class="right"><strong>{{amount}}{{settings.currency}}</strong></td>
        </tr>
        {{/lines}}
        <tr class="total">
          {{#cart}}
          <td colspan="5" class="right">
            <a href="/checkout" class="button primary big" data-action="purchase">Check out {{order.amount}}{{settings.currency}}</a>
          </td>
          {{/cart}}
          {{^cart}}
            <td colspan="5" class="right">{{order.amount}}{{settings.currency}}</td>
          {{/cart}}
        </tr>
      </tbody>
    </table>
  </div>
</article>
