<article class="bck color slideshow" data-flex="vertical center">
  <div class="overlay"></div>
  <h2>Wellcome the backery</h2>
  <h4>We love to create special flavor every day</h4>
</article>

<article>
  <div class="container">
    <h3>Choose your style</h3>
    <nav data-shopio="products" data-flex="horizontal center wrap" class="margin-bottom">
      {{#collections}}
      <a href="/collection/{{id}}" class="product highlight" data-flex="vertical center" style="background-image: url(/assets/uploads/{{default_image}});">
        <strong>{{title}}</strong>
        <span>{{description}}</span>
      </a>
      {{/collections}}
    </nav>

    <h3 class="margin-top">Featured Products</h3>
    <nav data-shopio="products" data-flex="horizontal center wrap">
      {{#products}}
      <a href="/product/{{id}}" data-flex="vertical center">
        <figure data-flex="vertical center" style="background-image: url(/assets/uploads/{{default_image}});">
          <button>View product</button>
        </figure>
        <strong>{{title}}</strong>
        <small>{{price}}{{settings.currency}}</small>
      </a>
      {{/products}}
    </nav>
  </div>
</article>
