<article class="slideshow" data-flex="vertical center">
  <div class="overlay"></div>
  {{#cart}}<h2>Your cart</h2><h4>{{order.amount}}{{settings.currency_shortcut}}</h4>{{/cart}}
  {{^cart}}<h2>Order {{order.id}}</h2>{{/cart}}
</article>

<article>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>{{^cart}}Tracking Number{{/cart}}</th>
          <th class="center">Units</th>
          <th class="center">Price</th>
          <th class="right">Total</th>
        </tr>
      </thead>
      <tbody>
        {{#lines}}
        <tr data-line="{{id}}">
          <td data-flex="horizontal grow">
            <figure style="background-image: url(/uploads/{{product.default_image}});" data-flex-grow="min"></figure>
            <div data-flex="vertical">
              <a href="/product/{{product.id}}"><strong>{{product.title}}</strong></a>
              <small>{{color}} {{size}}</small>
            </div>
          </td>
          <td>
            {{#cart}}<button data-action="delete">remove</button>{{/cart}}
            {{^cart}}{{tracking_number}}{{/cart}}
          </td>
          <td class="center">{{quantity}}</td>
          <td class="center">{{product.price}}{{settings.currency_shortcut}}</td>
          <td class="right"><strong>{{amount}}{{settings.currency_shortcut}}</strong></td>
        </tr>
        {{/lines}}
        {{#order.discount}}
        <tr data-line="{{id}}">
          <td colspan="4">
            <div data-flex="vertical">
              <strong>Coupon {{code}}</strong>
              <small>{{description}}</small>
            </div>
          </td>
          <td class="right"><strong>-{{order.amount_discount}}{{settings.currency_shortcut}}</strong></td>
        </tr>
        {{/order.discount}}
        <tr class="total">
        {{#cart}}
          <td colspan="5" class="discount">
            <div>
            {{^order.discount }}
              {{#cart}}
              <small>If you have any coupon code please use it here:</small>
              <input type="text" placeholder="coupon" maxlength="32">
              <button class="tiny" data-action="discount">Add</button>
              {{/cart}}
            {{/order.discount }}
            </div>
            <a href="/checkout" class="button primary big" data-action="purchase">Check out {{order.amount}}{{settings.currency_shortcut}}</a>
          </td>
        {{/cart}}
        {{^cart}}
          <td colspan="5" class="right">{{order.amount}}{{settings.currency_shortcut}}</td>
        {{/cart}}
        </tr>
      </tbody>
    </table>
  </div>
</article>
