<article class="bck color slideshow" data-flex="vertical center">
  <div class="overlay"></div>
  <h2>{{content.title}}</h2>
</article>

<article>
  <div class="container wysihtml5">
    {{{content.content}}}
  </div>
</article>
