{{! -- COLLECTION ----------------------------------------------------------- }}
<article data-component="slideshow" style="background-image: url(/uploads/{{product.collection_id.default_image}});">
  <h2>{{product.collection_id.title}}</h2>
</article>

{{! -- PRODUCT -------------------------------------------------------------- }}
<article data-component="content">
  <section data-role="info">
    {{! -- INFO ------------------------------------------------------------- }}
    <div data-role="image">
      <a class="fancybox thumbnail" rel="group" href="/uploads/{{product.default_image}}">
        <img src="/uploads/{{product.default_image}}" />
      </a>
      <nav class="thumbnails">
      {{#product.images}}
        <a class="fancybox thumbnail" rel="group" href="/uploads/{{.}}">
          <img src="/uploads/{{.}});" />
        </a>
      {{/product.images}}
      </nav>
    </div>

    <div data-role="details">
      <h1>{{product.title}}</h1>
      <small>Availability: In stock</small>
      <div data-role="price">
          {{#product.compare_at_price}}<span>{{product.compare_at_price}} {{settings.currency_shortcut}}</span>{{/product.compare_at_price}}
          {{product.price}} {{settings.currency_shortcut}}
      </div>
      <p data-role='description'>{{{product.description}}}</p>

      <form data-flex="horizontal" method="null">
        <button data-action="minus">-</button>
        <input type="text" name="quantity" value="1" maxlength="2" disabled/>
        <button data-action="plus">+</button>
        {{! -- Options }}
        {{#product.if.colors}}
        <label>Color:</label>
        <select class="margin-right" name="color">{{#product.colors}}<option>{{.}}</option>{{/product.colors}}</select>
        {{/product.if.colors}}
        {{#product.if.sizes}}
        <label>Size:</label>
        <select class="margin-right" name="size">{{#product.sizes}}<option>{{.}}</option>{{/product.sizes}}</select>
        {{/product.if.sizes}}
        {{! -- /Options }}
        <button data-action="buy">Add to Cart</button>
      </form>

      <nav data-role='tags'>
        <label>Category:</label>
        <a href="/collection/{{product.collection_id.id}}">{{product.collection_id.title}}</a>
      </nav>

      {{#product.if.materials}}
      <nav data-role='tags'>
        <label>Materials:</label>
        {{#product.materials}}<span>{{.}}</span> {{/product.materials}}
      </nav>
      {{/product.if.materials}}

      {{#product.if.tags}}
      <nav data-role='tags'>
        <label>Tags:</label>
        {{#product.tags}}<a href="/tag/{{.}}">{{.}}</a> {{/product.tags}}
      </nav>
      {{/product.if.tags}}
    </div>
  </section>

  {{! -- REVIEWS ---------------------------------------------------------- }}
  <h3 class="margin-top">Reviews</h3>
  <section data-role-reviews="{{product.id}}"></section>

  {{! -- RELATED PRODUCTS ------------------------------------------------- }}
  <h3 class="margin-top">Related products</h3>
  {{> partial.products}}

</article>
