{{! -- COLLECTION ----------------------------------------------------------- }}
<article class="slideshow" data-flex="vertical center" {{#collection.default_image}}style="background-image: url(/uploads/{{collection.default_image}});"{{/collection.default_image}}>
  <div class="overlay"></div>
  <h2>{{collection.title}}</h2>
</article>

{{! -- PRODUCTS ------------------------------------------------------------- }}
<article>
  {{> partial.products}}
</article>
