<article class="slideshow" data-flex="vertical center" style="background-image: url(/assets/uploads/{{session.avatar}});">
  <div class="overlay"></div>
  <h2>Your Profile</h2>
</article>


<article>
  <div class="container">
    <form data-column="12">
      <label>Your name</label>
      <input type="text" value="{{session.mail}}"/>
    </form>

    <a href="/profile/logout" class="button">Logout</a>
  </div>
</article>
