// $color-primary: $palette-blue-500 !default;
// $color-primary-dark: $palette-blue-700 !default;


//-- Color configuration
$color-divider: unquote("rgb(#{$palette-grey-200})") !default;
$color-background: unquote("rgb(#{$color-white})") !default;
$color-text: unquote("rgb(#{$palette-grey-900})") !default;
$color-text-secondary: unquote("rgb(#{$palette-grey-600})") !default;
$color-overlay: unquote("rgb(#{$color-black})");
$color-overlay-opacity: 0.5;

$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-a200 !default;
$color-accent-dark: $palette-pink-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
