// -- Colors
THEME                       = #cec3b5
COLOR                       = #4a4a4a
BACKGROUND                  = #eeeeee
WHITE                       = #ffffff
ERROR                       = red
BOX                         = darken(BACKGROUND, 5%)
// BOX = #b6ab9d
LABEL                       = darken(BACKGROUND, 35%)
// -- Sizes
SPACE                       = 1rem
U                           = (4 * SPACE)
BORDER_RADIUS               = .25rem
HEADER_HEIGHT               = (1.5 * U)
// -- Fonts
FONT_FAMILY                 = "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 16px
FONT_SIZE_TINY              = 0.8rem
FONT_SIZE_SMALL             = 0.9rem
FONT_SIZE_NORMAL            = 1.0rem
FONT_SIZE_BIG               = 1.25rem
FONT_WEIGHT_NORMAL          = 400
FONT_WEIGHT_BOLD            = 700
// -- Transition
TRANSITION_DURATION         = 250ms
ANIMATION_DURATION          = 450ms
ANIMATION_STEPS             = 15
ANIMATION_EASE              = cubic-bezier(0.645, 0.045, 0.355, 1.000)
