@import url("http://fonts.googleapis.com/css?family=Raleway:700,400,200")

// -- Colors
COLOR                       = #001A33
THEME                       = #ffb12a
BACKGROUND                  = #ebeef0

// -- Sizes
SPACE                       = 1rem
U                           = (4 * SPACE)
BORDER_RADIUS               = .25rem
// -- Fonts
FONT_WEIGHT_BOLD            = 700
// -- Transition
TRANSITION_DURATION         = 500ms
