// @import url("http://fonts.googleapis.com/css?family=Raleway:700,400,200")

// -- Colors
THEME                       = #ffb12a
COLOR                       = #333333
BACKGROUND                  = #eeeeee
WHITE                       = #ffffff
BOX                         = darken(BACKGROUND, 5%)
LABEL                       = darken(BACKGROUND, 35%)
// -- Sizes
SPACE                       = 1rem
U                           = (4 * SPACE)
BORDER_RADIUS               = .25rem
// -- Fonts
FONT_FAMILY                 = "Raleway", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE_TINY              = 0.8rem
FONT_SIZE_SMALL             = 0.9rem
FONT_SIZE_NORMAL            = 1.0rem
FONT_SIZE_BIG               = 1.25rem
FONT_WEIGHT_THIN            = 200
FONT_WEIGHT_NORMAL          = 400
FONT_WEIGHT_BOLD            = 700
// -- Transition
TRANSITION_DURATION         = 100ms
ANIMATION_DURATION          = 450ms
ANIMATION_STEPS             = 15
ANIMATION_EASE              = cubic-bezier(0.645, 0.045, 0.355, 1.000)
